h1{
    background-color: aqua;
}
div{
    background-color: yellow;
    /* height: 10%;
    width: 40%;
    margin: 30%; */
}
img{
    
    height: 30%;
    width: 30%;
    border-radius: 200%;
}
/* .d{
    background-color: black;

} */